.App {
  text-align: center;
}

.outer-wrapper {
  margin-top: 5rem;
}

.stock-wrapper {
  width: 25%;
  margin: 0 auto;
  background-color: #fafafa;
  display: grid;
}

.search {

}

.searchTerm {
  width: 50%;
  height: 2rem;
  float: left;
  border: 1px solid #ccc;
  padding-left: 2px;
  border-radius: 4px;
  margin: 10px 20px 2px 20px;
}

.checkTerm {
  float: left;
  margin: 0 20px;
  box-shadow: none;
}

.check-text {
  font-size: 16px;
}

.section-style {
  width: 100%;
  display: block;
}

table .th-left {
  float: left;
}

.table-design {
  padding-left: 20px;
  text-align: left;
}

.isStocked {
  color: red;
}